*.aux
*.nav
*.log
*.bbl
*.bcf
*.blg
*.fls
*.out
*.toc
*.vrb
*.snm
*.fdb_latexmk
*.synctex.gz
*.run.xml
.idea
.ipynb_checkpoints
*.pyc
MNIST-data
__pycache__
checkpoints
logs
checkpoint
model-*.meta
model-*.index
model-*.data-*
*.tfevents.*

